/* ============================================================
   Style Overrides
   ============================================================ */

button {
    border-radius: var(--button-corner-radius);
}

.map-author-badge {
    color: var(--text-secondary);
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    direction: ltr !important;
}

body .map-popup {
    border-radius: var(--popup-corner-radius);
    border: 1px solid var(--popup-border-color);
    box-shadow: var(--popup-box-shadow);
}

.map-popup .popup-header {
    transform: none !important;
}

.map-popup .stat-value.popup-badge.elevated {
    /* background-color: var(--bg-elevated); */
    color: var(--text-inverted);
}

.panel[data-panel="live-news"] .panel-header .panel-header-left {
    display: none !important;
}

.map-popup .popup-attribution a {
    color: var(--text-dim);
}

.live-mute-btn.live-toggle-mute-btn {
    color: var(--text-danger);
    border-radius: 100%;
    background-color: var(--bg-secondary);
    border: 1px solid currentColor;
    padding: 3px;
    margin-left: auto;
    margin-right: 8px;
    transition-property: color, border;
}